
body{
	padding-top: 100px;
	background: #ffffff;
	padding-right:20%;
	padding-left:20%;
}





.tab-pane{
	background:#ffaadd;
	
}

.row{
	background:#0000ff;
}

.col-md-5{
	background-color: #000;
	width: 180px;
	height:120px;
	padding: 10px;
}

.col-md-5 img{
	width: 100%;
	height:100%;
}
.col-md-7{
	background: #00ffdd;
	padding-left: 30px;
	padding-top: 10px;
	padding-right: 0px;
	font-size: 18px;
}


.text-content p{
	padding-top: 10px;
	padding-left: 20px;
	font-size: 18px;
}


