<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>记录列表</title>

    <!-- Bootstrap -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- 自定义css -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'record/record_list.css' %}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>
<body>

    <!--导航栏-->
 <nav class="navbar navbar-fixed-top navbar-inverse" id="demo-navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">我的流水账</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li><a href="#">视频</a></li>
        <li><a href="#">摄影</a></li>
        <li><a href="#">游记</a></li>
        <li><a href="#">编程</a></li>
        <li><a href="#" data-toggle="modal" data-target="#about">关于</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>








<div class="table_view">


<!-- 视频cell -->
  <script type="text/template" id="video_template">

      
  <div class="tab-pane" id="tab-firefox">
    <div class="row feature">

      <div class="col-md-5">
        <img  src="" class="banner">
      </div>

      <div class="col-md-7">
        <p class="description"></p>
      </div>

    </div>
  </div>

<!--分割线-->
<hr class="divider">

  </script>



<!-- 文章cell -->
  <script type="text/template" id="text_template">

      
  <div class="text-content">
      <h2 class="title"></h2>
      <p class="description"></p>
  </div>

<!--分割线-->
<hr class="divider">

  </script>





</div><!--table_view-->






<!--关于弹出框-->
<div class="modal fade" id="about">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">关于</h4>
      </div>
      <div class="modal-body">
        <p>
          梦思特科技（成都）有限公司于2014年6月注册成立，是由日本monstar-lab公司在中国的全资子公司，本公司主要致力于手机应用程序和互联网软件的研发，能为客户提供从Iphone软件，android软件到大型J2EE软件的整体解决方案。梦思特科技（成都）有限公司专注于新技术，新应用的发展，致力于成为国际领先的一站式移动应用解决方案提供商。
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">了解</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    <script src='{% static "record/jquery.min.js" %}'></script>
 	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--自定义js -->
    <script src='{% static "record/record_list.js" %}'></script>

</body>
</html>