{% load staticfiles %}

<!-- 视频cell -->
  <script type="text/template" id="video_template">
  <div class="tab-pane">
  <hr class="devider"/>
  <!-- 时间 -->
    <h2 class="publish_time"></h2>
      <div class="row">
      <div class="col-md-5">
        <div class="icon_and_bg" >
            <div style="position: absolute;top:30px;left:65px;">
              <img class="play_icon" src="{% static 'imgs/play_icon.png' %}"/><!--子视图  -->
            </div>
            <img src=""  class="banner"/><!--父视图 -->
        </div>
      </div>
      <div class="col-md-8">
        <p class="description"></p>
      </div>
    </div>
  </div>
  </script><!-- 视频cell -->

<!-- 文章cell -->
  <script type="text/template" id="text_template">
    <div class="cell_content">
    <hr class="devider"/>
      <!-- 时间 -->
      <h2 class="publish_time"></h2>

      <div class="text-content">
        <h4 class="title"></h4>
        <p class="description"></p>
      </div>
    </div>
</script><!-- 文章cell -->


<!-- 摄影图片展示cell -->
  <script type="text/template" id="phote_template">
    <div class="cell_content">
      <hr class="devider"/>
      <!-- 时间 -->
      <h2 class="publish_time"></h2>
      <p class="text-content"></p>
      <div class="row"></div>
    </div>
  </script><!-- 摄影图片展示cell -->

<!-- 摄影图片 -->
<script type="text/template" id="img_template">
  <div class="col-md-1">
    <img src="" id="photo_img">
  </div>
</script><!-- 摄影图片 -->