<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>业力实验室</title>

    <!-- Bootstrap -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- 自定义css -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'record/record_list.css' %}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  <link rel="shortcut icon" href="{% static 'imgs/bitbug_favicon.ico' %}"/> 


</head>
<body>

<div id="body_content">

    <!--导航栏-->
 <nav class="navbar navbar-fixed-top navbar-inverse" id="demo-navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#home">业力实验室</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li><a href="#type_all">所有记录</a></li>
        <li><a href="#type_video">视频</a></li>
        <li><a href="#type_phtoto">摄影</a></li>
        <li><a href="#type_travel">游记</a></li>
        <li><a href="#type_program">编程</a></li>
        <li><a href="#context">联系我们</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<div class="table_view">

</div><!--table_view-->

<!-- 视频cell -->
  <script type="text/template" id="video_template">
  <div class="tab-pane">
  <hr class="devider"/>
  <!-- 时间 -->
    <h2 class="publish_time"></h2>
      <div class="row">
      <div class="col-md-5">
        <div class="icon_and_bg" > 
            <div style="position: absolute;top:30px;left:65px;">  
              <img class="play_icon" src="{% static 'imgs/play_icon.png' %}"/><!--子视图  -->  
            </div>  
            <img src=""  class="banner"/><!--父视图 --> 
        </div> 
      </div>
      <div class="col-md-8">
        <p class="description"></p>
      </div>
    </div>
  </div>
  </script><!-- 视频cell -->

<!-- 文章cell -->
  <script type="text/template" id="text_template">
    <div class="cell_content">
    <hr class="devider"/>
      <!-- 时间 -->
      <h2 class="publish_time"></h2>
      
      <div class="text-content">
        <h4 class="title"></h4>
        <p class="description"></p>
      </div>
    </div>
</script><!-- 文章cell -->


<!-- 摄影图片展示cell -->
  <script type="text/template" id="phote_template">
    <div class="cell_content">
      <hr class="devider"/>
      <!-- 时间 -->
      <h2 class="publish_time"></h2>
      <p class="text-content"></p>
      <div class="row"></div>
    </div>
  </script><!-- 摄影图片展示cell -->

<!-- 摄影图片 -->
<script type="text/template" id="img_template">
  <div class="col-md-1">
    <img src="" id="photo_img">
  </div>
</script><!-- 摄影图片 -->


</div> <!-- body_content -->

    <!-- 尾视图 -->
    {% include "record/record_footer.html" %}

    <script src='{% static "record/jquery.min.js" %}'></script>
 	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--自定义js -->
    <script src='{% static "record/record_list.js" %}'></script>



</body>


</html>