{% load staticfiles %}


<style type="text/css">
    
.main-footer{
    background: #333;
    align-content: center;
}


.main-footer h5{
    color: #eee;
}

.footer-unit li a {
    color: #ddaa00;
}




</style>














<footer class="main-footer">
  <div class="container">
    <div class="row">



      <div class="col-md-2 col-sm-6 col-xs-6 footer-unit">
        <ul class="footer-content">
          <li>
            <h5>提供的服务</h5></li>
          <li><a href="/common/about-us" target="_blank">关于我们</a></li>
          <li><a href="/common/report" target="_blank">媒体</a></li>
          <li><a href="/common/logo" target="_blank">标志</a></li>
          <li><a href="/common/transparency" target="_blank">资产透明</a></li>
          <li><a href="/common/jobs" target="_blank">加入我们</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-6 footer-unit">
        <ul class="footer-content">
          <li>
            <h5>友情链接</h5></li>
          <li><a href="http://i.youku.com/i/UMzc5ODU4Mzcy?spm=a2h0j.8191423.subscription_wrap.DT~A" target="_blank">优酷主页</a></li>
          <li><a href="http://www.mafengwo.cn/u/91530380.html" target="_blank">马蜂窝主页</a></li>
          <li><a href="http://weibo.com/u/3431043174?refer_flag=1001030201_&is_hot=1" target="_blank">新浪微博</a></li>
        </ul>
      </div>

      

      <div class="col-md-2 col-sm-6 col-xs-6 footer-unit">
        <ul class="footer-content">
          <li>
            <h5>帮助</h5></li>
          <li><a href="/helpdesk/open" target="_blank">在线客服（推荐）</a></li>
          <li><a href="/post/" target="_blank">最新公告</a></li>
          <li><a href="/common/faq" target="_blank">常见问题</a></li>
          <li><a href="/common/contact" target="_blank">联系我们</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-6 col-xs-6 footer-unit">
        <ul class="footer-content">
          <li>
            <h5>帮助</h5></li>
          <li><a href="/helpdesk/open" target="_blank">在线客服（推荐）</a></li>
          <li><a href="/post/" target="_blank">最新公告</a></li>
          <li><a href="/common/faq" target="_blank">常见问题</a></li>
          <li><a href="/common/contact" target="_blank">联系我们</a></li>
        </ul>
      </div>


      <div class="col-md-2 col-sm-6 col-xs-6 footer-unit">
        <ul class="footer-content">
          <li><h5>微信公众号</h5></li>
          <li><img src="{% static 'imgs/two_code.jpg' %}" alt="官方微信" width="90"></li>
        </ul>
      </div>


    </div>
  </div>
</footer>




