{% load staticfiles %}


<style type="text/css">
    
.main-footer{
    background: #333;
    
}


.main-footer h5{
    color: #eee;
}

.footer-unit li a {
    color: #ddaa00;
}




</style>




<!-- contact section -->
<section class="contact" id="contact">
	<div class="container">
		<div class="col-lg-6 col-md-6 contact-wthree1">
			<h3 class="head1">Contact Info</h3>
			<div class="contact-w3ls">
				<div class="row">
					<div class="col-xs-4 contact-agile1">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
					</div>
					<div class="col-xs-8 contact-agile2">
						<div class="address">
							<h4>Visit Us</h4>
							<p>Jack street,Chicago,USA.</p>
						</div>	
					</div>	
				</div>
				<div class="row">
					<div class="col-xs-4 contact-agile1">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
					</div>
					<div class="col-xs-8 contact-agile2">
						<div class="address">
							<h4>Mail Us</h4>
							<p><a href="mailto:email@example.com">email@example.com</a></p>
						</div>	
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 contact-agile1">
						<i class="fa fa-mobile" aria-hidden="true"></i>
					</div>
					<div class="col-xs-8 contact-agile2">
						<div class="address">
							<h4>Call Us</h4>
							<p>+01 0101 01010101</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 contact-agile1">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
					</div>
					<div class="col-xs-8 contact-agile2">
						<div class="address">
							<h4>Our Working Hours</h4>
							<p>Monday - Friday : 08 Am - 07 Pm</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 contact-wthree2">
			<h3 class="head2">Your Comments</h3>
			<form action="#" method="post">
				<div class="row">
					<div class="form-group col-lg-6 col-md-6 col-sm-6 slideanim">
						<input type="text" class="form-control first-name" name="firstname" placeholder="First Name" required/>
					</div>
					<div class="form-group col-lg-6 col-md-6 col-sm-6 slideanim">
						<input type="text" class="form-control last-name" name="lastname" placeholder="Last Name" required/>
					</div>
					<div class="form-group col-lg-6 col-md-6 col-sm-6 slideanim">
						<input type="email" class="form-control mail" name="mail" placeholder="Your Email" required/>
					</div>
					<div class="form-group col-lg-6 col-md-6 col-sm-6 slideanim">
						<input type="tel" class="form-control pno" name="phone" placeholder="Your Phone Number" required/>
					</div>
					<div class="clearfix"></div>
					<div class="form-group col-lg-12 slideanim">
						<textarea class="form-control" rows="6" name="message" placeholder="Your Message"></textarea>
					</div>
					<div class="form-group col-lg-12 slideanim">
						<button type="submit" class="btn btn-lg btn-outline">Send Message</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<!-- /contact section -->









<footer class="main-footer">
  <div class="container">
    <div class="row">



      <div class="col-md-2 col-sm-6 col-xs-6 footer-unit">
        <ul class="footer-content">
          <li>
            <h5>提供的服务</h5></li>
          <li><a href="/common/about-us" target="_blank">关于我们</a></li>
          <li><a href="/common/report" target="_blank">媒体</a></li>
          <li><a href="/common/logo" target="_blank">标志</a></li>
          <li><a href="/common/transparency" target="_blank">资产透明</a></li>
          <li><a href="/common/jobs" target="_blank">加入我们</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-6 footer-unit">
        <ul class="footer-content">
          <li>
            <h5>友情链接</h5></li>
          <li><a href="http://i.youku.com/i/UMzc5ODU4Mzcy?spm=a2h0j.8191423.subscription_wrap.DT~A" target="_blank">优酷主页</a></li>
          <li><a href="http://www.mafengwo.cn/u/91530380.html" target="_blank">马蜂窝主页</a></li>
          <li><a href="http://weibo.com/u/3431043174?refer_flag=1001030201_&is_hot=1" target="_blank">新浪微博</a></li>
        </ul>
      </div>

      

      <div class="col-md-2 col-sm-6 col-xs-6 footer-unit">
        <ul class="footer-content">
          <li>
            <h5>帮助</h5></li>
          <li><a href="/helpdesk/open" target="_blank">在线客服（推荐）</a></li>
          <li><a href="/post/" target="_blank">最新公告</a></li>
          <li><a href="/common/faq" target="_blank">常见问题</a></li>
          <li><a href="/common/contact" target="_blank">联系我们</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-6 col-xs-6 footer-unit">
        <ul class="footer-content">
          <li>
            <h5>帮助</h5></li>
          <li><a href="/helpdesk/open" target="_blank">在线客服（推荐）</a></li>
          <li><a href="/post/" target="_blank">最新公告</a></li>
          <li><a href="/common/faq" target="_blank">常见问题</a></li>
          <li><a href="/common/contact" target="_blank">联系我们</a></li>
        </ul>
      </div>


      <div class="col-md-2 col-sm-6 col-xs-6 footer-unit">
        <ul class="footer-content">
          <li><h5>微信公众号</h5></li>
          <li><img src="{% static 'imgs/two_code.jpg' %}" alt="官方微信" width="90"></li>
        </ul>
      </div>


    </div>
  </div>
</footer>




