{% load staticfiles %}




<!-- 删除/添加按钮 -->
<div class="btn-group" style="float:right">
  <button type="button" class="btn btn-default">删除</button>
  <button type="button" class="btn btn-default">添加</button>
</div>

<!-- table_view -->
<div class="table_view">
	
</div><!-- table_view -->


<!-- cell模板 -->
	<script type="text/template" id="list_template">
    	<div id="list_cell">
    		<input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2" class="title">  </label>
    	</div>  
	</script>