{% load staticfiles %}




<!-- 删除/添加按钮 -->
<div class="btn-group" style="float:right">
  <button type="button" class="btn btn-default" onclick="delete_records()">删除</button>
  <button type="button" class="btn btn-default" onclick="add_record()">添加</button>
</div>

<!-- table_view -->
<form  id="record_list_form" action="" method="post">
	{% csrf_token %}
	<div class="table_view">
	
	</div>
</form>
<!-- table_view -->


<!-- cell模板 -->
<script type="text/template" id="list_template">
    <div id="list_cell">
    	<input type="checkbox"><label class="title"></label>
    </div>  
</script>