{% load staticfiles %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<!-- bootstrap css-->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<!-- 自定义css -->
<link rel="stylesheet" type="text/css" href="{% static 'management/css/manage_page.css' %}">



<!-- jquery -->
<script type="text/javascript" src="{% static 'record/jquery.min.js' %}"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

